name: CI

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - .dockerignore
      - .editorconfig
      - .gitignore
      - .hadolint.yaml
      - .markdownlint.yaml
      - .trunk/**
      - LICENSE
      - README.md
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build:
    name: Build

    permissions:
      id-token: write
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare environment variables
        run: cat .github/.env >> $GITHUB_ENV

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Configure AWS Credentials
        if: github.event_name != 'pull_request'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ROLE_ARN }}

      - name: Login to Amazon ECR Public
        id: login-ecr
        if: github.ref == 'refs/heads/main'
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public

      - name: Check latest asdf release
        run: |
          echo ASDF_RELEASE=v$(curl -s https://api.github.com/repos/asdf-vm/asdf/releases | grep -oE 'tag_name": ".{1,15}",' | sed 's/tag_name\": \"v//;s/\",//' | grep -vE '^(0\.[12]\.|0\.3\.0$)' | sed 'h; s/[+-]/./g; s/.p\([[:digit:]]\)/.z\1/; s/$/.z/; G; s/\n/ /' | LC_ALL=C sort -t. -k 1,1 -k 2,2n -k 3,3n -k 4,4n -k 5,5n | awk '{print $2}' | tail -n1) | tee -a $GITHUB_ENV

      - name: Check the base image tag
        run: |
          echo DEBIAN_TAG=$(docker run --rm gcr.io/go-containerregistry/crane ls debian | grep -P '^bullseye-[0-9]+$' | sort -r | head -n1) | tee -a $GITHUB_ENV

      - name: Prepare new version tag
        run: |
          echo VERSION=asdf-${ASDF_RELEASE#v}-${DEBIAN_TAG} | tee -a $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          flavor: |
            latest=true
          images: |
            ${{ env.AWS_ECR_REPO }}
            ${{ env.DOCKER_REPO }}
          tags: |
            type=raw,value=${{ env.VERSION }}
            type=match,prefix=asdf-,pattern=v(.*),group=1,value=${{ env.ASDF_RELEASE }}

      - name: Build and push
        id: kaniko
        uses: int128/kaniko-action@v1
        with:
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            ASDF_RELEASE=${{ env.ASDF_RELEASE }}
            DEBIAN_TAG=${{ env.DEBIAN_TAG }}
            VERSION=${{ env.VERSION }}
          kaniko-args: |
            --tarPath=/kaniko/action/output/image.tar
            --single-snapshot
            --skip-unused-stages
            --snapshotMode=redo
            --use-new-run

      - name: Reuse built image
        run: docker load -i /tmp/kaniko-action-*/image.tar

      - name: Test built image
        run: docker run --rm -t ${AWS_ECR_REPO}:latest bash -c "asdf version" | grep $ASDF_RELEASE

      - name: Push
        if: github.ref == 'refs/heads/main'
        run: |
          for tag in $(echo "${{ steps.meta.outputs.tags }}"); do
            docker push $tag
          done

      - name: Create new git tag
        if: github.ref == 'refs/heads/main'
        run: |
          git tag -f ${VERSION}
          git push -f origin ${VERSION}
